<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>피하기 게임</title>
    <link rel="stylesheet" href="/static/css/avoid/avoid_main.css">
    <link rel="stylesheet" href="/static/css/reset.css"/>
</head>

<body>
    <div class="container">
        <h1>Avoid Game</h1>
        <button class="btn">게임 시작</button>
        <button class="btn">챌린지 모드</button>
        <button class="btn">랭킹 보기</button>
        <button class="btn">로그인</button>
        <footer>© 2025 Avoid Game</footer>
    </div>

</body>

</html>