<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/reset.css"/>
    <link rel="stylesheet" href="/static/css/header.css"/>
</head>

<body>
    <header class="header">
    </header>

    <main class="game-container">
        <a href="/apple">
            <button class="move-game-btn">
                <div class="game-card">
                    <div class="game-card-img">
                        <img src="/static/images/show/show_applegame.png" alt="사과게임 이미지" />
                    </div>
                    <div class="game-card-explain">
                        <h3>사과 게임</h3>
                        <p>제한 시간 안에 사과를 조합해 10을 만들자!</p>
                    </div>
                </div>
            </button>
        </a>
    </main>
</body>
<script src="/static/js/principal/principal.js"></script>
<script src="/static/js/header/header.js"></script>
<script src="/static/js/main/main.js"></script>
</html>