<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <title>사과 게임 - 진행 중</title>
    <link rel="stylesheet" href="/static/css/game.css" />
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
</head>

<body>
    <div class="game-container" id="game-container">
        <div class="board" id="gameBoard">
        </div>

        <div class="game-info">
            <p>점수: <span id="score">0</span></p>
        </div>

        <div class="controls">
            <button id="undoBtn">되돌리기</button>
            <button id="restartBtn">다시 시작</button>
        </div>

        <div id="message" class="message"></div>
    </div>
</body>
<script src="/static/js/game/game.js"></script>
</html>