<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/mypage.css" />
</head>

<body>
    <header class="header">
    </header>

    <main class="main-container">
        <div class="mypage-container">

        </div>
        <div class="mypage-ranking-container">
            <div class="mypage-article">

            </div>
        </div>
        <div>
            <div id="modal" class="modal" style="display: none;">
                <div class="modal-content">
                    <span id="closeModalBtn" class="close">&times;</span>
                    <h2>비밀번호를 입력해주세요.</h2>
                    <div class="chagnePassword-input-box">
                        <input type="password" id="currentPassword" class="changeInput" placeholder="현재 비밀번호" />
                        <input type="password" id="changePassword" class="changeInput" placeholder="변경할 비밀번호" />
                    </div>
                    
                    <button class="confirmBtn" id="confirmBtn">확인</button>
                </div>
            </div>
        </div>
    </main>
    <div id="toast-container" class="toast-container"></div>
</body>
<script src="/static/js/principal/principal.js"></script>
<script src="/static/js/header/header.js"></script>
<script src="/static/js/mypage/mypage.js"></script>

</html>