<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/mypage.css" />
</head>

<body>
    <header class="header">
    </header>

    <main class="main-container">
        <div class="mypage-container">
            
        </div>
    </main>
</body>
<script src="/static/js/principal/principal.js"></script>
<script src="/static/js/header/header.js"></script>
<script src="/static/js/mypage/mypage.js"></script>

</html>