<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>사과 게임</title>
    <link rel="stylesheet" href="/static/css/apple_main.css">
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/apple_common.css" />
</head>

<body>
    <div class="main-container">
        <h1>🍎 사과 게임 🍎</h1>
        <p>숫자를 조합하며 사과를 퍼뜨려 보세요!</p>
        
        <div>
            <button onclick="goHome()">Home</button>
        </div>

        <div style="margin-top: 20px;">
            
            <button onclick="startNormalGame()">게임 시작</button>
        </div>

        <div style="margin-top: 20px;">
            <button onclick="startChallengeGame()" style="font-size: 19px;">챌린지모드</button>
        </div>

        <div style="margin-top: 20px;">
            <button onclick="goRanking()" style="font-size: 19px;">랭킹</button>
        </div>
    </div>

    <script>
        function startNormalGame() {
            window.location.href = "/apple/game?mode=normal";
        }

        function startChallengeGame() {
            window.location.href = "/apple/game?mode=challenge";
        }

        function goHome() {
            window.location.href = "/"
        }

        function goRanking() {
            window.location.href = "/apple/ranking"
        }
    </script>
</body>
</html>